<link href="~/css/pageConfirmationAchat.css" rel="stylesheet" />
<br>
<br>
<br>
<div class="container">

    <div class="confirmation-message">
        <h1>Confirmation d'achat</h1>
        <p>Merci d'avoir choisi Vercité pour vos produits écologiques.</p>
        <p>Votre achat a été effectué avec succès.</p>
        <p>Nous vous remercions de votre confiance et nous espérons que nos produits répondront à vos attentes.</p>
        <p>N'hésitez pas à nous contacter si vous avez des questions ou besoin d'assistance supplémentaire.</p>
        <p>À bientôt !</p>
    </div>
    <br><br>
    <p><a asp-controller="Home" asp-action="pageHome">Retour vers la page d'accueil</a></p>
    <p><a asp-controller="Home" asp-action="pageAfficherListeProduits">Continuer votre magasinage !</a></p>
</div>