<link href="~/css/cover.css" rel="stylesheet" />

<div class="cover-page">
    <div class="cover-panier">
        @Html.Partial("panier")
    </div>

    <div class="cover-text">
        <h1 class="display-4 cover-text">Bienvenue sur VertCité !</h1>
        <p class="lead cover-text">Découvrez notre large sélection de produits écologiques.</p>
    </div>

    <a asp-controller="Home" asp-action="pageContact" class="btn btn-outline-success btn-lg">En savoir plus</a>
</div>

